<% provide(:title, @user.name) %>
<div>
    <aside calss="col-md-4">
        <section>
            <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
            </h1>
        </section>
    </aside>
</div>
Now: <%=Time.now %>
Email: <%= @user.email%>, Created: <%= @user.created_at %>, Updated: <%= @user.updated_at %>